services:
  - type: web
    name: forge-exchange-frontend
    env: static
    buildCommand: "npm install && npm run build"
    staticPublishPath: ./apps/frontend/dist
    routes:
      - type: rewrite
        source: /*
        destination: /index.html

  - type: web
    name: forge-exchange-relayer
    env: node
    buildCommand: "npm install && npm run build"
    startCommand: "npm run start:relayer"
